@page {
  size: 148mm 210mm;
  margin: 12.7mm;
}
@page :left{
  @bottom-left {
    content: counter(page);
  }
  blockquote {
      margin-right: -12.7mm;
      margin-left: -8mm;
    }
}
@page :right{
  @bottom-right {
    content: counter(page);
  }
  blockquote {
      margin-right: -8mm;
      margin-left: -12.7mm;
    }
}

/* -- Couverture ---------------------------- */

@page :first {
  margin-top: 6mm;
  margin-bottom: 6mm;
  margin-left: 0mm;
  margin-right: 6mm;

  .pagedjs_area{
  background-image: 
     linear-gradient(to right, rgba(235, 157, 0, 1), rgba(0, 0, 0, 0)),
     url("https://md.picasoft.net/uploads/ea803245-b5fa-4089-88d2-3da7b26d51b1.jpg");  
  background-size: cover;
  background-position: center;
}
  @bottom-right { content: none; }
  @bottom-left { content: none; }
  text-align: center;
  color: white;
  h1, h2 {
    margin-top: 150mm;
    color: white !important;
  }
  h3, h4 {
    color: white !important;
  }
}

@page :nth(12) {
  @bottom-right { content: none; }
  @bottom-left { content: none; }
  text-align: center;
  color: white;
  h1, h2 {
    margin-top: 175mm;
    color: white !important;
  }
  h3, h4 {
    color: white !important;
  }
}


/* ------PAGES INTERIEURES -------*/

@page :nth(3)
.pagedjs_sheet {
    background: radial-gradient(closest-corner ellipse at -150% 50%,rgba(235,157,0,0.5),white)
}


/* -- CHANGEMENT DE PAGE ---------------------------- */
h1 {
  break-before: page;
}

img {
    break-inside: avoid;
}

/* -- TYPOGRAPHIE ----------------------------------- */

@font-face {
    font-family: 'Supersuper Regular';
    src: url('font/supersuper-Regular.woff2') format('woff2'),
        url('font/supersuper-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eau Sans Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Book'), url('font/eau_sans_book.woff') format('woff');
    }
@font-face {
    font-family: 'Eau Sans Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Book Oblique'), url('font/eau_sans_book_obl.woff') format('woff');
    }
@font-face {
    font-family: 'Eau Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Bold'), url('font/eau_sans_bold.woff') format('woff');
    }
@font-face {
    font-family: 'Eau Sans Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Bold Oblique'), url('font/eau_sans_bold_obl.woff') format'woff');
    }



body {
  font-size: 8.5pt;
  font-family: 'Eau Sans Book';
  line-height: 11.5pt;
}

em {
  font-family: 'Eau Sans Book Oblique';
}

strong {
  font-family: 'Eau Sans Bold';
}

h1, h2, h3, blockquote, th {
  font-family: 'Supersuper Regular';
  margin-top: 0;

}

h1, h2 {
  font-size: 20pt;
  line-height: 23pt;
  color: #dd7105;
  -webkit-text-stroke: 0.1pt;
}

h3 {
  font-size: 14pt;
  line-height: 17pt;
  color: #dd7105;
  -webkit-text-stroke: 0.1pt;
}

h4 {
  font-size: 8pt;
  line-height: 9.5pt;
  color: #dd7105;
  -webkit-text-stroke: 0.1pt;
  margin-top: -8pt;
}

p {
  column-count: 2;
}

/*------ mise en page -------*/

img.background {
  display: none;
}

img.logo {
  width: 150px;
  float: left;
  margin-left: 6mm;
}

th {
  background-color: #dd7105;
  color: white;
  font-family: 'Supersuper Regular';
  font-size: 9pt;
  line-height: 11.5pt;
  -webkit-text-stroke: 0.1pt;
}

blockquote {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #dd7105;
    padding: 30px;
    color: white;
    font-family: 'Supersuper Regular';
    font-size: 9pt;
    line-height: 11.5pt;
    -webkit-text-stroke: 0.1pt;
}

table, td, th {
border-collapse: collapse;
  border-top: 1px #dd7105 solid;
  border-bottom: 1px #dd7105 solid;
  text-align: left;
  vertical-align: top;
  padding-left: 5px;
}

table {
  margin-bottom: 20px;
}


