@page {
  size: 148mm 210mm;
}
@page :left{
  margin: 33mm 23mm 65mm 45mm; 
  @bottom-left {
    content: counter(page);
  }
}
@page :right{
  margin: 33mm 45mm 65mm 23mm;
  @bottom-right {
    content: counter(page);
  }
}

@page macouverture {
  margin: 0;
  background: black;
  color: red;
  @bottom-right { content: none; }
  @bottom-left { content: none; }
}

/* -- CHANGEMENT DE PAGE ---------------------------- */
h1 {
  break-before: right;
}
